[submodule "oscore/liboscore"]
	path = oscore/liboscore
	url = https://gitlab.com/cgundogan/liboscore.git
[submodule "oscore/RIOT"]
	path = oscore/RIOT
	url = https://github.com/cgundogan/RIOT.git
[submodule "coap/RIOT"]
	path = coap/RIOT
	url = https://github.com/cgundogan/RIOT.git
[submodule "coapdtls/RIOT"]
	path = coapdtls/RIOT
	url = https://github.com/cgundogan/RIOT.git
[submodule "ndn/RIOT"]
	path = ndn/RIOT
	url = https://github.com/cgundogan/RIOT.git
